<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a
      class="nav-item nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Code Snippets</a
    >
  </div>
  <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <a *ngIf="user" class="nav-item nav-link" (click)="logout()">Logout</a>
    <a *ngIf="!user" class="nav-item nav-link" (click)="logout()">Login</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
  <p>
    <a href="https://demo.revizia.online" target="_blank">Boyan Zahariev</a>
  </p>
</div>
