<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a
      class="nav-item nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Code Snippets</a
    >
  </div>
  <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <a *ngIf="user" class="nav-item nav-link" (click)="logout()">Logout</a>
    <a *ngIf="!user" class="nav-item nav-link" (click)="logout()">Login</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<!-- Footer -->
<footer class="page-footer font-small fixed-bottom blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <hr class="clearfix w-100 d-md-none pb-3" />
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <a href="demo.revizia.online" target="_blank"> Boyan Zahariev</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
