<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a
      class="logo nav-item nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Code Snippets</a
    >
  </div>
  <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <!-- <div class="nav-item mr-0"> -->
    <a *ngIf="user" class="nav-item nav-link active" (click)="newSnippet()">
      <svg
        class="white octicon octicon-plus d-none d-md-inline-block"
        viewBox="0 0 16 16"
        version="1.1"
        width="16"
        height="16"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M8 2a.75.75 0 01.75.75v4.5h4.5a.75.75 0 010 1.5h-4.5v4.5a.75.75 0 01-1.5 0v-4.5h-4.5a.75.75 0 010-1.5h4.5v-4.5A.75.75 0 018 2z"
        ></path>
      </svg>
    </a>
    <!-- </div> -->

    <span class="nav-item nav-link active">{{ user?.name }}</span>

    <a *ngIf="user" class="nav-item nav-link" (click)="logout()">
      <svg
        height="24"
        viewBox="0 0 512 512"
        width="24"
        fill="lightgrey"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Solid">
          <path
            d="m480.971 239.029-90.51-90.509a24 24 0 0 0 -33.942 0 24 24 0 0 0 0 33.941l49.54 49.539h-262.059a24 24 0 0 0 -24 24 24 24 0 0 0 24 24h262.059l-49.54 49.539a24 24 0 0 0 33.942 33.941l90.51-90.51a24 24 0 0 0 0-33.941z"
          />
          <path
            d="m304 392a24 24 0 0 0 -24 24v24h-208v-368h208v24a24 24 0 0 0 48 0v-32a40 40 0 0 0 -40-40h-224a40 40 0 0 0 -40 40v384a40 40 0 0 0 40 40h224a40 40 0 0 0 40-40v-32a24 24 0 0 0 -24-24z"
          />
        </g>
      </svg>
    </a>
    <a *ngIf="!user" class="nav-item nav-link" (click)="logout()">
      <svg
        fill="lightgrey"
        height="24"
        viewBox="0 0 512 512"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="Solid">
          <path
            d="m260.52 329.539a24 24 0 0 0 33.941 33.941l90.51-90.51a24 24 0 0 0 0-33.941l-90.51-90.509a24 24 0 0 0 -33.941 0 24 24 0 0 0 0 33.941l49.539 49.539h-262.059a24 24 0 0 0 -24 24 24 24 0 0 0 24 24h262.059z"
          />
          <path
            d="m448 24h-224a40 40 0 0 0 -40 40v32a24 24 0 0 0 48 0v-24h208v368h-208v-24a24 24 0 0 0 -48 0v32a40 40 0 0 0 40 40h224a40 40 0 0 0 40-40v-384a40 40 0 0 0 -40-40z"
          />
        </g>
      </svg>
    </a>
  </div>
</nav>

<!-- main app container [ngClass]="{ 'bg-light': user }"-->
<div class="app-container">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<!-- Footer -->
<footer class="page-footer font-small fixed-bottom blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <hr class="clearfix w-100 d-md-none pb-3" />
    </div>
  </div>

  <div class="footer-copyright text-center py-3">
    <a href="https://demo.revizia.online" target="_blank"> Boyan Zahariev</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
